<div class='error404'>
  <h1 align='center'><u>Page Not Found</u></h1>
  <a class="waves-effect waves-light btn-large" href="/admin">
    <i class="material-icons left">home</i>Back home page
  </a>
  <img src="../images/404.png" alt="Error" align='center' />
</div>