<div class="nav-wrapperBread">
  <div class="col s12">
    <a href="/" class="breadcrumb">HOME</a>
    <a href="/products" class="breadcrumb">ARTICLES</a>
  </div>
</div>
<div class='blockArticle'>
  <h1>{{article.title}}</h1>

  <img src="{{article.img}}" alt="{{article.title}}">

  <p class='text'>{{{article.text}}}</p>
  <a class="waves-effect waves-light btn" href="/articles">BACK</a>
</div>