<div class="home">
  <div class="textHome">
    <h1>{{hello}}</h1>
  <h1>Online Shop.<br/>Here are only the best products</h1>
  </div>
  
  {{#if isAdmin}}
    <a class="waves-effect waves-light btn-large" href="/admin">
      <i class="material-icons left">build</i>ADMIN
    </a>
  {{/if}}
  <img src="https://i.ytimg.com/vi/fADEZJLU5Fs/maxresdefault.jpg">
</div>