<div class="home">
  <div class="plate">
    <u>{{hello}}</u>
  </div>
  <h1>Sunny Kharkov</h1>
    <h1>Here are only the best products</h1>
  {{#if isAdmin}}
    <a class="waves-effect waves-light btn-large" href="/admin">
      <i class="material-icons left">build</i>ADMIN
    </a>
  {{/if}}
  <img src="https://i.ytimg.com/vi/fADEZJLU5Fs/maxresdefault.jpg">
</div>