
  {{#if isAdmin}}
    <a class="waves-effect waves-light btn-large" href="/admin"><i class="material-icons left">build</i>ADMIN</a>
  {{/if}}
  <h1>Home page</h1>

  <hr>

  <p>Here are only the best products.</p>