body {
  background-image: url("../images/ep_naturalwhite.png");
  margin: 0 auto;
}

.nav-wrapper {
  padding: 0 2rem;
  background: rgba(73, 155, 234, 1);
  background: -moz-linear-gradient(
    top,
    rgba(73, 155, 234, 1) 0%,
    rgba(75, 0, 130, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(73, 155, 234, 1)),
    color-stop(100%, rgba(75, 0, 130, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(73, 155, 234, 1) 0%,
    rgba(75, 0, 130, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(73, 155, 234, 1) 0%,
    rgba(75, 0, 130, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(73, 155, 234, 1) 0%,
    rgba(75, 0, 130, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(73, 155, 234, 1) 0%,
    rgba(75, 0, 130, 1) 100%
  );
}

.editArticle,
.editProduct,
.cart,
.product,
.auth,
.orders,
.error404,
.profile {
  margin: 2rem 10rem ;
}

.header {
  text-align: center;
  text-decoration: underline;
}

.home {
  margin-top: 10px;
  position: relative;
  overflow: hidden;
  height: 720px;
}

.alert {
  padding: 0.5rem;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 1 rem;
  background: rgba(255, 0, 0, 0.3);
  color: red;
}

.tableAdmin {
  margin-bottom: 2rem;
  padding: 1.5rem;
  border: 2px solid rgb(43, 187, 173);
  border-radius: 10px;
  font-size: 25px;
}

.blockArticle {
  margin: 25px 5%;
  padding: 2rem;
  border: 2px solid rgb(77, 182, 172);
  border-radius: 5px;
}

.rowProduct, .rowOrders {
  margin-left: 2%;
  float: left;
}

.nav-wrapperBread, .nav {
  background-color: floralwhite;
  padding: 0 3%;
}

.card-action.actions {
  display: flex;
  justify-content: space-between;
}
                            /* IMAGE */

.card .card-image img {
  height: 320px;
  width: auto;
}

.product img {
  margin-top: 30px;
  margin-right: 15px;
  float: left;
  width: 500px;
}

.blockArticle img {
  margin: 20px;
  float: left;
  width: 350px;
}

.home img {
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.error404 img {
  margin: auto;
  left: 0;
  right: 0;
  width: 60%;
  display: block;
  position: absolute;
}

.avatar {
  width: 300px;
}
                         /* LINK */

.home a {
  float: right;
  margin-right: 20%;
}

.error404 a {
  float: left;
  margin-left: 7%;
}

.breadcrumb, 
.breadcrumb:last-child,
.breadcrumb::before {
color: black;
}
                         /* BUTTON */

.product-form button {
  float: left;
  margin-right: 10px;
}

.article-form button {
  float: left;
  margin-right: 10px;
}

.btn-large {
  float: right;
}
                        /* TEXT */
.blockArticle p {
  font-size: 20px;
}

.teal.lighten-2 {
  text-align: center;
  text-decoration: underline;
  margin-top: 0;
}

.price {
  font-size: 3rem;
}

.textHome {
  margin-left: 5%;
  float: left;
  padding-left: 10px;
  color: white;
  font-family: "Lobster", cursive;
  font-size: 50px;
  text-shadow: black 1px 1px 0, black -1px -1px 0;
  position: relative;
  z-index: 2;
}
